.dark GridBackground {
    --grid-background-color: rgb(43, 44, 45);
    --line-color: rgba(96, 97, 98, 0.1);
    --thick-line-color: rgba(0, 0, 0, 0);
    --spacing: 12.5;
}

.light GridBackground {
    --grid-background-color: rgb(171, 171, 171);
    --line-color: rgba(234, 234, 234, 0.19);
    --thick-line-color: rgba(0, 0, 0, 0);
    --spacing: 12.5;
}

.dark #graph-header {
    color: rgba(255, 255, 255, 0.31);
}

.light #graph-header {
    color: rgba(0, 0, 0, 0.31);
}
